{% extends 'base.html.twig' %}

{% block title %}Mon site - {{ article.title }}{% endblock %}

{% block body %}
<article>
<h2>{{ article.title }}</h2>

<p>
{% if article.writer %}
    {% set writer = article.writer %}
    {{ writer.user.email }}

    {{ article.writer.user.email }}
{% endif %}
</p>

<div>{{ article.body }}</div>

<div>
catégorie {{ article.category.name }}
</div>

<div>
{% for tag in article.tags %}
#{{ tag.name }}
{% endfor %}
</div>

</article>
{% endblock %}